<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		<a class="panel-block">
			#MessiWantsOut
		</a>
		<a class="panel-block">
			#BlackLivesMatter
		</a>
		<a class="panel-block">
			#HuriccaneLaura
		</a>
		<a class="panel-block">
			#USelections
		</a>
		
	</nav>
</div>
