<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		<a class="panel-block">
			#BlackPanther
		</a>
		<a class="panel-block">
			#Stopkillinganimals
		</a>
		<a class="panel-block">
			#Al-jerrahnews
		</a>
		<a class="panel-block">
			#Covid-19
		</a>

	</nav>
</div>
