html {
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: #16202c;
  color: #ffffff;
}

header {
  display: block;
  min-width: 98px;
  text-align: center;
  font-size: 1.9rem;
}

main {
  min-width: 424px;
}

footer p {
  margin: 10px;
}

p {
  word-wrap: break-word;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

header span {
  margin: 10px;
}

header a {
  display: block;
  padding: 15px 20px;
  margin: 15px 0;
  max-width: 164px;
  border-radius: 50px;
}

header a:hover {
  background: #182d40;
}

.header_tweet a{
  background: #1ea1f2;
  color: #ffffff;
}

.header_tweet a:hover {
  background: #1681c2;
}

@media (max-width: 991px) {
  header span {
    display: none;
  }

  header a {
    padding: 10px 10px;
    width: 47px;
  }

  footer p {
    display: none;
  }
}

.main_top {
  display: flex;
  height: 53px;
  border-bottom: solid 1px #38444d;
}

.main_top_back {
  display: block;
  height: 53px;
  margin-right: 20px;
  font-size: 1.9rem;
}

.main_top_h2 {
  display: block;
}

.main_top_back a {
  line-height: 53px;
}

h2 {
  font-size: 1.9rem;
  margin: 0;
  line-height: 53px;
}

.post-container {
  height: auto;
  border-bottom: solid 1px #38444d;
}

.created-time, .post-container a, footer p{
  color: #8899a6;
}

textarea {
  font-size: 2.3rem;
  background: #16202c;
  color: #ffffff;
  font-family: Arial;
  border: none;
  outline: none;
  resize: none;
}

input {
  float: right;
  height: 30px;
  margin: 20px;
  background: #1ea1f2;
  color: #ffffff;
  border-radius: 50px;
  border: none;
}

input:hover {
  background: #1681c2;
}

.post-show {
  font-size: 2.3rem;
}

.index_post-container_menu p {
  text-align: right;
}

.show_post-container_menu {
  display: flex;
  justify-content: flex-end;
}

.show_post-container_menu p{
  margin-left: 10px;
}

.alert {
  margin: auto;
  height: 20px;
  line-height: 20px;
}

.alert p {
  line-height: 5px;
}

.modal-dialog {
  width: 320px;
  height: 229px;
  margin-top: 20%;
  margin-left: 30%;
}

.modal-content {
  margin: auto;
  background: #16202c;
  border-radius: 15px;
}

.modal-header {
  margin-top: 30px;
  border: none;
  text-align: center;
}

.modal-header h5 {
  font-size: 1.9rem;
  font-weight: 700;
}

button.close {
  display: none;
}
.modal-body {
    text-align: center;
}

.modal-body p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #8799A6;
}

.modal-footer {
  margin-bottom: 20px;
  border: none;
  text-align: center;
}

.modal-footer .cancel {
  width: 150px;
  height: 39px;
  border-radius: 50px;
  border: none;
  background: #253341;
  color: #ffffff;
}

.modal-footer .commit {
  width: 114px;
  height: 39px;
  border-radius: 50px;
  border: none;
}

.modal-footer button:focus {
  outline: none;
}

.modal-footer button:active {
  background: #ffffff;
}

.form-error {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #ff4d75;
}
